#github svg {
    transition: all 1s;
    fill: #222;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 80px;
    height: 80px;
}

#github:hover svg {
    width: 160px;
    height: 160px;
}